appname: "stats"
entrypoints:
  api:
    cmd: "stats"
    ports:
      - "6006/tcp"
    restart: "on-failure"
    healthcheck_url: "/ping"
    healthcheck_expected_code: 200
build:
  - "cp stats /usr/bin"
  - "stats --version"
base: "hub.ricebook.net/base/alpine:base-2017.03.14"
subscribers: "@wrfly_;"
volumes:
  - "$PERMDIR/:/etc/eru/"
permitted_users:
  - "cmgs"
  - "fushouguo"
combos:
  api:
    cpu: 1
    memory: "128MB"
    podname: "intra"
    entrypoint: "api"
    envname: "prod"
    networks:
      - "release"
    elb:
      - "internal stats.ricebook.net"
